<div class="card-div">
<mat-card>

    <!-- mat-card-header>
      <mat-card-title style="font: 400 44px/1.3 'Oleo Script', Helvetica, sans-serif; justify:center">Barnwaldo.com </mat-card-title>

    </mat-card-header> -->
    <mat-card-content>

      <ul style="list-style-type:none">
        <li>
          <mat-card-title style="font: 400 44px/1.3 'Oleo Script', Helvetica, sans-serif; justify:center">Barnwaldo.com </mat-card-title>
        </li>
        <li>
            <h2>Realistic Solutions for Practical Matters...</h2>
        </li>
        <li>
          <h3>Website: www.barnwaldo.com</h3>
        </li>
        <li>
          <h3>Email: info@barnwaldo.com</h3>
        </li>
        <li>
          <h3>Phone: (800) 543-8900</h3>
        </li>
        <li>
          <h3>Beautiful Bucks County, PA</h3>
        </li>
      </ul>


    </mat-card-content>


    <mat-card-footer>
    </mat-card-footer>

</mat-card>
</div>

